<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Whizzy.js | @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("style", required: false)
</head>

<body>
    @Html.Partial("_Header")

    <div id="subnav">
        @RenderSection("Subnav", required: false)
    </div>

    <section class="content-wrapper main-content clear-fix">
        @RenderBody()
    </section>

    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    

    @RenderSection("scripts", required: false)

    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"type="text/javascript"></script>

</body>
</html>